@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

*,
*::before,
*::after{
  box-sizing: border-box;
}


body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
  padding: 0;
}


@layer base{
  h1 {@apply text-3xl md:text-4xl font-bold}
  h2 {@apply text-3xl font-bold}
  h3 {@apply text-xl font-bold}
  li {@apply px-4}

  button {@apply p-3 border-none bg-[#1750FF] text-white rounded-md}

  .mobileLi {@apply mt-2 py-4 border-b border-slate-300}
  .icon {@apply text-[#1750FF] text-2xl cursor-pointer}

}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */
