.main_div {
  /* background-color: blueviolet; */
  width: calc(100vw - 3rem);
  /* background-color: #0f555a; */
  background-color: blueviolet;
  height: 100vh;
  overflow: hidden;
  position: relative;
}

.bg_image {
  object-fit: cover;
  position: absolute;
  width: 2800px;
  top: calc(50% - 290px);
  left: calc(50%);
  transform: translate(-50%, -50%);
  z-index: 1;
}

.fog-7 {
  /* display: none; */
  position: absolute;
  z-index: 2;
  width: 1900px;
  top: calc(50% - 120px);
  left: calc(50% + 250px);
  transform: translate(-50%, -50%);
}

.text {
  position: absolute;
  z-index: 9;
  top: calc(50% - 100px);
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  text-shadow: 1px 1px 1px black;
}

.bg-img {
  width: 2800px;
  top: calc(50% - 18rem);
  left: calc(50% + 2rem);
  z-index: 1;
}

.mountain-10 {
  position: absolute;
  z-index: 3;
  top: calc(50% - 19rem);
  width: 55rem;
  left: calc(50% - 5rem);
}
.mountain-9 {
  position: absolute;
  z-index: 5;
  top: calc(50% - 13rem);
  width: 29rem;
  left: calc(50% - 44rem);
}

.mountain-8 {
  position: absolute;
  z-index: 6;
  top: calc(50% - 10rem);
  width: 55rem;
  left: calc(50% - 39rem);
}

.mountain-7 {
  position: absolute;
  z-index: 8;
  width: 32rem;
  top: calc(50% - 10rem);
  left: calc(50%);
}

.mountain-6 {
  position: absolute;
  z-index: 10;
  top: calc(50% - 20rem);
  width: 24rem;
  left: calc(50% + 16rem);
}
.mountain-5 {
  position: absolute;
  z-index: 12;
  top: calc(50% + 4rem);
  width: 37rem;
  left: calc(50% - 10rem);
}
.mountain-4 {
  position: absolute;
  z-index: 17;
  top: calc(50% - 7rem);
  left: calc(50% - 52rem);
  width: 52rem;
}

.mountain-3 {
  position: absolute;
  z-index: 15;
  top: calc(50% - 15rem);
  right: -5%;
  width: 26rem;
}

.mountain-2 {
  position: absolute;
  z-index: 17;
  top: calc(50% - 2rem);
  left: calc(52%);
  width: 33rem;
}

.mountain-1 {
  position: absolute;
  z-index: 18;
  top: 0;
  left: calc(50% - 58rem);
  width: 35rem;
}

.fog-1 {
  display: none;
  /* border: solid 2px red; */
  top: calc(50% - 300px);
  left: 0;
  position: absolute;
  z-index: 2;
  /* top: calc(0%);
  left: calc(0%); */
  width: 119rem;
}

.fog-2 {
  /* display: none; */
  position: absolute;
  z-index: 4;
  top: calc(50% - 295px);
  left: calc(50% - 800px);
  width: 1833px;
}

.fog-3 {
  /* display: none; */
  position: absolute;
  z-index: 7;
  top: calc(50% + 150px);
  left: calc(50% - 529px);
  width: 449px;
}

.fog-4 {
  /* display: none; */
  position: absolute;
  z-index: 11;

  top: calc(50% - 72px);
  left: calc(50% - 644px);
  width: 543px;
}

.fog-5 {
  /* display: none; */
  position: absolute;
  z-index: 13;
  top: calc(50% - 400px);
  left: calc(50% - 900px);
  width: 1435px;
}

.fog-6 {
  /* border: solid 2px red; */
  /* display: none; */
  position: absolute;
  z-index: 16;
  top: calc(50% - 10px);
  left: calc(50% - 500px);
  width: 1418px;
}
